html{
    background-color: black;
}
main {
    background-color: black;


}

h1 {
    color:white;
    margin: auto;
    text-align: center;
    word-wrap: break-word;
}

#backgroundGif{
    background-color: beige;
}

#spaceship{
    position: absolute;
    top: 10vw;
    right: 60vw;
    width: 5vw;
    height: 5vw;
    border: 3px solid #73AD21;

}

#gear{
    position: absolute;
    top: 20vw;
    right: 30vw;
    width: 5vw;
    height: 5vw;
    border: 3px solid #73AD21;
}





#giffy {
margin:auto;
width: 100%;
height: auto;
}


@media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  }