html{
    background-color: black;
}
main {
    background-color: black;


}

#headerContainer{
    
        float: left;
        width: 100%;
        display: block;
        position: relative;
        justify-content: right;
        color:white;
      
       
}

h1 {
    color:white;
    
   text-align: right;
    word-wrap: break-word;
    position: relative;
        float: center;
        left: -5%;
    z-index: 2;


}

#backgroundGif{
    background-color: beige;
}

#spaceship{
    position: absolute;
    top: 5vw;
    right: 60vw;
    width: 5vw;
    height: 5vw;
    border: 3px solid #73AD21;
    animation-name: orbit;
    animation-duration: 200s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes orbit{
    0%{
        top: 5vw;
        right:60vw;
    }

    39%{
        top:12vw;
        right:120vw;
    }

    40%{
        top:-12vw;
        right:120vw;
    }
    41%{
        top:-12vw;
        right:-10vw;
    }
    45%{
        top:0vw;
        right:0vw;
    }
    65%{
        top: 2vw;
        right:20vw;
    }
    100%{
        top:5vw;
        right:60vw;
    }


}


#gear{
    position: absolute;
    top: 20vw;
    right: 30vw;
    width: 5vw;
    height: 5vw;
    border: 3px solid #73AD21;
    opacity: 0;
}

#gear:hover{

    animation-name: appear;
    animation-duration: 3s;
    
    animation-fill-mode: forwards;

}

@keyframes appear {
    
    100% {opacity: 1;}
  }





#giffy {
margin:auto;
width: 100%;
height: auto;
}


@media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  }