h1 {
  
    text-align: center;
    background-color: aqua;
    margin:auto;
}
h2 {
    position:relative;
    text-align: center;
}
  

h3 {
    text-align: center;

}

form {
    text-align: center;

}

#searchterm {
    

   text-align: center;
   width: 6em;
   margin-right: 1em;
   margin-top: 0.4em;

}

body {
    margin: auto;
    text-align: center;
}